<div id="thanksbox"><h1> THANKS FOR SIGNING! </h1></div>
<ul>
{{#each list}}
<li>
{{#if url}}<a href={{url}}>{{/if}}{{name}} {{lastname}}{{#if url}}</a>{{/if}}
{{#if age}}{{age}}{{/if}}
{{#if city}}<a href=signers/{{city}}>{{city}}</a>{{/if}}
</li>
{{/each}}
</ul>
