
<div id="thanksbox"><h1> THANKS FOR SIGNING! </h1></div>
{{#each list}}
<div class="entry">
{{#if url}}
<a href={{url}}>{{name}} {{lastname}}</a>
{{else}}
<p>{{name}} {{lastname}} (someone has no webpage!)</p>
{{/if}}
</div>
{{#if age}}<h3>(age: {{age}})</h3>{{/if}}
{{#if city}}<p>{{city}}</p>{{/if}}
<hr>
{{/each}}
<hr>
<a href="/signers">go back</a>
