<div class="overlay">
  <img src="background8.jpg" alt="">
</div>
<div id="signerslist">
<h1>PEOPLE WHO SIGNED ALREADY:</h1>
{{#each list}}
{{#if url}}
<a href={{url}}>{{name}} {{lastname}}</a>
{{else}}
<p>{{name}} {{lastname}}</p>
{{/if}}
{{#if city}}<p>{{city}}</p>{{/if}}
<hr>
{{/each}}
<a href="/signed">go back</a>
</div>
