<div id="thanksbox"><h1> THANKS FOR SIGNING! </h1></div>
<ul>
{{#each list}}
{{#if url}}<a href={{url}}>{{/if}}<li> {{name}} {{lastname}}</li>{{#if url}}</a>{{/if}}
{{#if age}}<li> {{age}} </li>{{/if}}
{{#if city}}<li>{{city}}</li>{{/if}}

{{/each}}
</ul>
